sudo: false
language: ruby
cache:
  bundler: true
services:
- redis-server
before_script:
- bundle exec rake db:create db:migrate RAILS_ENV=test
script:
- bundle exec rspec spec
- bundle exec standardrb
- bundle exec bundle audit check
- bundle exec brakeman --ensure-latest -A -q --no-pager
